<!DOCTYPE html>
<html>
<head>
  <title>Photosgame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
  <% if user_signed_in? %>
  欢迎你, <%=current_user.email %>
  <%=link_to "注销", destroy_user_session_path, :method => :delete %>
  <% else %>
  <%=link_to "注册", new_user_registration_path %>
  <%=link_to "登录", new_user_session_path %>
  <% end %>
  </div>
<%- if notice || alert -%>
  <div class="notice">
    <%= notice %>
    <%= alert %>
  </div>
<%- end -%>

<%= yield %>

<div id="footer">
  版权所有@2012
</div>
</div>
</body>
</html>
